<IfModule !wsgi_module.c>
    LoadModule wsgi_module modules/mod_wsgi.so
</IfModule>

WSGISocketPrefix /home/{{ actinguser }}/var/run/wsgi

Listen {{ portbase }}80
<VirtualHost *:{{ portbase }}80>
        ServerName graphite
        DocumentRoot "/home/{{ actinguser }}/app/graphite/webapp"
        ErrorLog /home/{{ actinguser }}/var/log/graphite_error.log
        CustomLog /home/{{ actinguser }}/var/log/graphite_access.log common

        # I've found that an equal number of processes & threads tends
        # to show the best performance for Graphite (ymmv).
        WSGIDaemonProcess graphite processes=5 threads=5 display-name='%{GROUP}' inactivity-timeout=120 user=admin group=admin
        WSGIProcessGroup graphite
        WSGIApplicationGroup %{GLOBAL}
        WSGIImportScript /home/{{ actinguser }}/app/graphite/conf/graphite.wsgi process-group=graphite application-group=%{GLOBAL}

        # XXX You will need to create this file! There is a graphite.wsgi.example
        # file in this directory that you can safely use, just copy it to graphite.wgsi
        WSGIScriptAlias / /home/{{ actinguser }}/app/graphite/conf/graphite.wsgi

        # XXX To serve static files, either:
        # django-admin.py collectstatic --noinput --settings=graphite.settings
        # * Install the whitenoise Python package (pip install whitenoise)
        # or
        # * Collect static files in a directory by running:
        #     django-admin.py collectstatic --noinput --settings=graphite.settings
        #   And set an alias to serve static files with Apache:
        Alias /content/ /home/{{ actinguser }}/app/graphite/webapp/content/
        <Location "/content/">
        Require all granted
            SetHandler None
        </Location>

        # XXX In order for the django admin site media to work you
        # must change @DJANGO_ROOT@ to be the path to your django
        # installation, which is probably something like:
        # /usr/lib/python2.6/site-packages/django
        Alias /media/ "@DJANGO_ROOT@/contrib/{{ actinguser }}/media/"
        <Location "/media/">
        SetHandler None
        </Location>

        # The graphite.wsgi file has to be accessible by apache. It won't
        # be visible to clients because of the DocumentRoot though.
        <Directory /home/{{ actinguser }}/app/graphite/conf/>
           Options  +FollowSymLinks
        Require all granted
        </Directory>

</VirtualHost>
