GRAFANA_USER={{ actinguser }}

GRAFANA_GROUP={{ actinguser }}

GRAFANA_HOME=/home/{{ actinguser }}/grafana/share

WORK_DIR=$GRAFANA_HOME

LOG_DIR=/home/{{ actinguser }}/grafana/var/log

DATA_DIR=/home/{{ actinguser }}/grafana/var/lib

MAX_OPEN_FILES=10000

CONF_DIR=/home/{{ actinguser }}/grafana/etc

CONF_FILE=/home/{{ actinguser }}/grafana/etc/grafana.ini

RESTART_ON_UPGRADE=false
