define host{
        use                     linux-ssh,generic-host,linux-nrpe
        contact_groups          admins
        host_name               {{ ansible_nodename }}
        hostgroups              {{ nodeColoc }}
        address                 {{ ansible_nodename }}
        }

